<div class="container" id="main-content">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="categories">
				<% if(categoria.length === 0){ %>
				<div class="info-msg">
					<div class="centered-text frame">
			    		<img src="/images/ico-light-blue-add-folder.png">
			    		<h3>Hola, <%= req.session.Usuario.usuarioNombre %> </h3>
			    		<h4>¡Es hora de crear categorías!</h4>
			    		<a class="btn btn-light-blue" href="/categoria/nueva">Crear categoría</a>
			    	</div>
		    	</div>
				<%} else{ _.each(categoria,function(categoria){ %>
				<div class="category-item">
					<div class="category-container">
						<a  href="/publicacion/listado/<%=categoria.id%>">
						<img src="<%= categoria.categoriaImagenPath %>" alt="<%= categoria.categoriaNombre.toUpperCase() %>">
						</a>
					</div>
					<div class="category-footer">
						<h3><%= categoria.categoriaNombre.toUpperCase().substring(0, 20) %></h3>
					</div>
					
				</div>
				<% }); } %>
			</div>
		</div>
	</div>
</div>