<div class="container" id="main-content">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 col-xs-12">
			<% if(publicacion.length === 0){ %>
			<div class="info-msg">
				<div class="centered-text frame">
		    		<img src="/images/ico-light-blue-add-content.png" >
		    		<h3>Hola, <%= req.session.Usuario.usuarioNombre %> </h3>
		    		<h4>¡Es hora de crear tu primera publicación!</h4>
		    		<a class="btn btn-light-blue" href="/publicacion/nueva">Crear publicación</a>
		    	</div>
		    </div>
			<%} else{ %>
			<div class="info-msg">
				<div class="centered-text frame">
		    		<img src="/images/ico-light-blue-add-content.png" >
		    		<h4>Hola, <%= req.session.Usuario.usuarioNombre %> </h4>
		    		<a class="btn btn-light-blue" href="/publicacion/nueva">¿Qué hay de nuevo?</a>
		    	</div>
	    	</div>
	    	<%_.each(publicacion,function(publicacion){ %>
			<div class="media publication-container">
				<div class="media-left">
					<a href="/publicacion/mostrar/<%= publicacion.id %>">
					<% if(publicacion.publicacionTipo == 4){ %>	
					<img class="media-object img-circle" src="<%= req.session.Usuario.avatarUrl %>" alt="<%= req.session.Usuario.nombreUsuario %>" height="100">
					<% } else if(publicacion.publicacionTipo == 2){ %>
					<img class="media-object" src="<%= publicacion.publicacionAdjuntoUrl1 %>" alt="<%= publicacion.publicacionTitulo %>" height="150">
					<% } else{ %>
					<img class="media-object" src="<%= publicacion.publicacionAdjuntoUrl2 %>" alt="<%= publicacion.publicacionTitulo %>" height="150">
					<% } %>	
					</a>	
				</div>
				<div class="media-body">
					<a href="/publicacion/mostrar/<%= publicacion.id %>">
						<h4 class="media-heading"><%= publicacion.publicacionTitulo %></h4>
						<p class="media-content">
							<% if(publicacion.publicacionTipo == 1 || publicacion.publicacionTipo == 4){ %>
							<%=	publicacion.publicacionContenido.substring(0, 200) %>
							<% } else{ %>
							<%= publicacion.publicacionDescripcion.substring(0, 200) %>
							<% } %>
						</p>
					</a>
					<div class="media-footer">
						<div class="media-footer-info">
							<a class="light-blue-tooltip" data-toggle="tooltip" data-placement="right" title="<%= (publicacion.autor.usuarioNombre == null ? '' : publicacion.autor.usuarioNombre)+' '+(publicacion.autor.usuarioApellido == null ? '' : publicacion.autor.usuarioApellido) %>"><span id="media-footer-user"></span></a>
							<a class="light-blue-tooltip" data-toggle="tooltip" data-placement="right" title="<%= publicacion.createdAt.toLocaleDateString()+" "+publicacion.createdAt.toLocaleTimeString() %>"><span id="media-footer-calendar"></span></a>
							<% if((publicacion.publicacionTipo == 4 || publicacion.publicacionTipo == 2) && publicacion.publicacionAdjuntoUrl2 != null){ %>
				            <a href="<%= publicacion.publicacionAdjuntoUrl2 %>" target="_blank"> 
				            	<span id="media-footer-download"></span>
				            </a>
				            <% } else if((publicacion.publicacionTipo == 1 || publicacion.publicacionTipo == 3) && publicacion.publicacionAdjuntoUrl1 != null){ %>
				            <a href="<%= publicacion.publicacionAdjuntoUrl1 %>"> 
				            	<span id="media-footer-download"></span>
				            </a>
				            <% } %>
						</div>
						<span id="media-footer-pin"></span>
						<span id="media-footer-like"></span>
					</div>
				</div>
			</div>
			<% }); } %>
		</div>
	</div>
</div>